body{
    background-image: url(depositphotos_117811860-stock-photo-transition-of-black-red-dots.jpg);
    background-repeat: repeat-x;
    background-color: black;
    background-position-y: 500px;
}
h1{
 color: red;
 font-size: 50px;
 text-align: center;
}
a {
   color: black;
   background-color: red;
   font-size: large;
   font-weight: bold;
   border: 5px solid red;
}
.logo{
    border: 0;
}
#pálya {
    background-color: red;
    width: 1250px;
}
table{
    color: red;
}
.kep{
    width: 500px;
}
p {
    color: red;
    font-size: large;
}
th{
    padding: 5px 20px;
    border: 1px solid red;
}
table{
    margin: auto;
    width: 600px;
}
.szab{
    background-color: red;
    color: black;
    font-weight: bold;
}
#pálya {
    background-color: black;
    color: red;
    border: none;
}
#fokep{
    float: right;
    border: 5px solid red;
}
hr{
    border: 2px solid red;
}
